
#abcul {
    background-color: rgba(0, 255, 0, 0.7);
    border-style: solid dotted;
    border-width: 5px 2px;
    border-color: green blue;
}

.red {
    color: red;
}


img {
    width: 450px;
    margin: 20px;
}


h1 {
    margin: 20px;
}