body {
    background-color: rgb(177, 193, 238);
}

.center {
    text-align: center;
    margin: auto;
    width: 330px;
    padding-top: 75px;
}

.mainbox {
    background-color: white;
    height: 480px;
    border-radius: 5px 5px 0px 0px;
}

.topbar {
    height: 17%;
    background-color: rgb(128, 8, 172);
    border-radius: 5px 5px 0px 0px;
    box-sizing: border-box;
    /* align-items: justify; */
}


.macelogo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width:45px;
}

.content {
    padding: 20px 30px;
    box-sizing:border-box;
}

#ma_text {
    font-size: 17px;
    color: rgb(132, 31, 226);
    font-family: helvetica;
}

.inputbox {
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    font-size:13px;
    border-radius: 5px;
    border: 1px solid #00000022;
}

.inputbox::placeholder {
    opacity: 50%;
}